<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.elex.flutter_xmpp">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <service android:name=".FlutterXmppConnectionService">

        </service>

        <receiver android:name=".MyBroadcastReceiver" android:enabled="true"
            android:exported="true">
            <intent-filter>
<!--                <action android:name="com.elex.xmpp.flutter_xmpp.login" />-->
                <action android:name="com.elex.xmpp.flutter_xmpp.connectStatus" />
                <action android:name="com.sarabit.startxmpp" />
                <action android:name="com.sarabit.xmpp.login" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
